.CartListContainerWrapper {
 display: flex;
 flex-direction: column;
 align-items: center;
}
.CartListContainer {
 display: flex;
 flex-direction: column;
 list-style: none;
 border-bottom: 2px solid #819ff5;
 width: 100%;
}
.totalInfo {
 display: flex;
 align-items: center;
 justify-content:space-around;
 padding: 5px 0;
 width: 100%;
}
.totalInfoTitle {
 font-size: 25px;
 font-weight: 700;
 color: #819ff5;
}
.totalInfoPrice {
 font-size: 25px;
 font-weight: 700;
 color: #819ff5;
}
.orderButton {
 margin-top: 10px;
 min-width: 150px;
 border: 1px solid #3f6dec;
 font-weight: 700;
 font-size: 15px;
}
.orderButton:hover {
 background-color: rgb(5, 253, 17);
 color: black;
}
@media (min-width: 768px) {
}

@media (min-width: 1024px) {
 
.totalInfo{
  padding-bottom: 60px;
  padding-top: 20px;
  
 }
}
